<div class="row">
	<div class="col-md-12">
		<div class="content">
			<h1><span><%= raw(@page.title) %></span></h1>
			<%= render '/refinery/page_image' %>
			<p><%= raw(@page.content_for(:body)) %></p>
		</div>
	</div>
</div>
